doctype html
html(lang="en")
  head
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(name="title", content="PDFfiller")
    meta(name="description", content="PDFfiller")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, viewport-fit=contain")
    link(rel="stylesheet" href="css/style.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/min/dropzone.min.css")
    title
      block title
  body
    block content

  script(src="https://code.jquery.com/jquery-1.12.4.js")
  script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/min/dropzone.min.js")
  script(src="js/main.js")
