div.list-item__block
  div.list-item__dropzone#dropzone-upload
    div.dz-default.dz-message
  div.list-item__upload
    img.upload-img__logo(src="img/upload.svg" alt="logo")
    span.upload-text__title drag & drop zone for files
  div.list-item__upload_btn
    img.upload-img__add(src="img/add.svg" alt="add")
    span.upload-text__add Add new file
