div.list-item__delete
  div.delete-block__left
    h4.delete-block__title Delete from list
    p.delete-block__description Are you sure you want to delete the following document?
  div.delete-block__right
    span.delete-block__button_no No
    span.delete-block__button_yes Yes
